asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2025.11.12
charset-normalizer==3.4.4
colorama==0.4.6
django==4.2.27
idna==3.11
pillow==10.4.0
pypng==0.20220715.0
python-decouple==3.8
qrcode==7.4.2
requests==2.32.4
sqlparse==0.5.5
typing-extensions==4.13.2
tzdata==2025.3
ua-parser==0.18.0
urllib3==2.2.3
user-agents==2.2.0
